<body class="is-boxed has-animations">
    <div class="body-wrap">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
                            <a href="#">
                                <!-- <img class="header-logo-image" src="../../assets/images/logo.svg" alt="Logo" /> -->
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <section class="hero">
                <div class="container">
                    <div class="hero-inner">
                        <div class="hero-copy">
                            <h1 class="hero-title mt-0">{{ typewriter_display }}</h1>
                            <p class="hero-paragraph">
                                Revolutionize Your Job Search with AI-Generated Resumes.
                            </p>
                            <div class="hero-cta">
                                <a class="button button-primary" routerLink="/template-selection">Generate Resume</a>
                                <!-- <a class="button button-primary" href="#">Generate Cover Letter</a> -->
                            </div>
                        </div>
                        <div class="bg_img" data-aos="fade-up" data-aos-duration="2000">
                            <img src="../../assets/images/bg-1.svg" />
                        </div>
                    </div>
                </div>
            </section>

            <section class="features section">
                <div class="container">
                    <div class="features-inner section-inner has-bottom-divider">
                        <div class="features-wrap">
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon" data-aos="fade-up" data-aos-duration="2000"
                                        data-aos-delay="600">
                                        <img src="../../assets/images/features_ai_gen.svg" alt="Feature 01" />
                                    </div>
                                    <h4 class="feature-title mt-24">AI Resume Generation</h4>
                                    <p class="text-sm mb-0">
                                        Generate a personalized and professional resume in just 4
                                        easy steps using our advanced AI technology.
                                    </p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon" data-aos="fade-up" data-aos-duration="2000"
                                        data-aos-delay="600">
                                        <img src="../../assets/images/features_templates.svg" alt="Feature 02" />
                                    </div>
                                    <h4 class="feature-title mt-24">Multiple Templates</h4>
                                    <p class="text-sm mb-0">
                                        Choose from a variety of resume templates that best suit
                                        your style and job profile.
                                    </p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon" data-aos="fade-up" data-aos-duration="2000"
                                        data-aos-delay="600">
                                        <img src="../../assets/images/features_guidelines.svg" alt="Feature 03" />
                                    </div>
                                    <h4 class="feature-title mt-24">
                                        Follows Recruiter Guideliness
                                    </h4>
                                    <p class="text-sm mb-0">
                                        Our AI technology generates resumes that are compliant with
                                        industry standards and optimized for recruiters.
                                    </p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon" data-aos="fade-up" data-aos-duration="2000"
                                        data-aos-delay="800">
                                        <img src="../../assets/images/features_customize.svg" alt="Feature 04" />
                                    </div>
                                    <h4 class="feature-title mt-24">
                                        Customizable for Any Job Profile
                                    </h4>
                                    <p class="text-sm mb-0">
                                        Generate a resume for any job profile, no matter the
                                        industry, with our versatile AI technology.
                                    </p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon" data-aos="fade-up" data-aos-duration="2000"
                                        data-aos-delay="800">
                                        <img src="../../assets/images/features_input.svg" alt="Feature 05" />
                                    </div>
                                    <h4 class="feature-title mt-24">Effortless Input</h4>
                                    <p class="text-sm mb-0">
                                        Enter your information in a few simple steps and let our AI
                                        technology do the rest to generate your personalized resume.
                                    </p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon" data-aos="fade-up" data-aos-duration="2000"
                                        data-aos-delay="800">
                                        <img src="../../assets/images/features_download.svg" alt="Feature 06" />
                                    </div>
                                    <h4 class="feature-title mt-24">Instant Download</h4>
                                    <p class="text-sm mb-0">
                                        Download your generated resume in a matter of seconds, ready
                                        to be submitted for your dream job."
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- <section class="cta section">
				<div class="container">
					<div class="cta-inner section-inner">
						<h3 class="section-title mt-0">Contact Us</h3>
						<div class="cta-cta">
							<a class="button button-primary button-wide-mobile" href="#">Get in touch</a>
						</div>
					</div>
				</div>
			</section> -->

            <section class="more_info section">
                <div class="container">

                    <div class="img" data-aos="fade-up" data-aos-duration="2000">
                        <img src="../../assets/images/section_about.svg" alt="Feature 06" height="150" width="auto" />
                    </div>

                    <div class="about-section">
                        <h2 class="section-header">About ProWrite-AI</h2>
                        <p>
                            ProWrite-AI is a tool that generates personalized and professional
                            resumes for job seekers using AI technology. Developed for the
                            HackNotts '23 hackathon, ProWrite-AI is a combination of
                            cutting-edge front-end technologies such as HTML5, CSS3, and
                            Angular, and back-end technologies like NodeJS, Express, and
                            OpenAI API.
                        </p>
                        <p>
                            With just a few simple steps, users can create a customized resume
                            that is optimized for recruiters and ready to be downloaded as a
                            .docx file. Join the future of job searching with ProWrite-AI.
                            today.
                        </p>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>